.jumbotron, a:not(.btn):not(.dropdown-item) {
    color: white;
}

.navbar {
	background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0));
}

.countdown {
	background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));
}

.hdr {
    text-align: center !important;
    padding: 50px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
	background-color: black !important;
    color: white;
    z-index: 2;
}

.btn-block {
    width: 100%;
}

.dropdown-item {
    color: #000 !important;
}

.title-decorative {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #adb5bd;
    display: block;
    font-weight: 500;
}

#homeCarousel {
    position: relative;
    height: 100vh;
}

.carousel-priority {
    z-index: 2;
}

.carousel-inner, .carousel-item {
    height: 100vh;
}

.carousel-item > img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: no-repeat center center scroll;
    height: 100%;
    width: auto;
}

.clock {
    position: absolute;
    z-index: 1;
}

.jumbotron {
    height: 100%;
}

.jumbotron p, .countdown, .nav-item:not(.dropdown), #accountDropdown {
	text-shadow: 1px 1px #000;
}

.jumbotron.line-up {
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0)
    ),
    url(../img/dj.jpg);
    background-position: 0% 95%;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron.festival-camping {
     background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0)
    ),
    url(../img/camping.jpg);
    background-position: 0% 95%;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron.ticket {
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0)
    ),
    url(../img/ticket.jpg);
    background-position: 0% 95%;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron.newsletter {
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0)
    ),
    url(../img/newsletter.jpg);
    background-position: 0% 95%;
    background-size: cover;
    background-repeat: no-repeat;
}

.panel {
    background-color: white;
    padding: 25px;
    margin: 10px;
}

.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.panel-login > .panel-heading {
    color: #00415d !important; 
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}

.panel-login > .panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login > .panel-heading a.active {
    color: #029f5b;
    font-size: 18px;
}

.panel-login > .panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}

.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}

.forgot-password {
    text-decoration: underline;
    color: #888;
}

.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}

.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

/* ticket_page */
.size_middle{
	width:600px;
}
.ticket_container{
 	margin-left:300px;
	padding: 50px;
    text-align: center;
}

.info_image{
	width:540px;
	height:300px;
}